* {
    box-sizing: border-box;
    margin: 0;
    padding: o;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 16px;
}



header {
    font-family: 'Lobster Two', cursive;
    font-weight: 100;
    background-color: #0F7362;
    color: #ffffff;
    height: 60px;
}

header nav {
    float: left;
    margin-top: 18px;

}

header h1 {
    float: left; 
    font-family: font-family: 'Lobster Two', cursive;
    font-size: 40px;
    font-weight: 500;
    padding: 15px; /* TRouBLe */
}

header a {
    color: #ffffff;
    margin-right: 30px;
    text-decoration: none;
    
}

header a:link {}
header a:visited {}

header a:hover {
    color: #ffffff;
    text-decoration: underline;
}

header a:active {
    text-decoration: underline;
}
header a:focus {}

article {
    font-family: font-family: 'Raleway', sans-serif;
    clear: both;
    padding: 0 10px 0 10px;
}

article h1 {
    font-size: 22px;
    line-height: 30px;
    margin-top: 20px;
    padding-bottom: 0px;
}

article h2 {
    text-align: left;
    font-weight: 400;
    font-size: 10px;
}

article h3 {
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 5px;
}
    
div {
    float:left;
}

aside {
    background-color: #000000;
    float: left;
    margin: 0 0 10px 5%;
    width: 100%;
    
}

article h2 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 4px;
}

footer {
    Clear: right;
    font-size: 12px;
    padding: 0 10px 0 10px;
}