* {
    box-sizing: border-box;
    margin: 0;
    padding: o;
}

body {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 16px;
}



header {
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
    background-color: #000000;
    color: #ffffff;
    height: 45px;
}

header nav {
    float: left;
    margin-top: 12px;

}

header h1 {
    float: left; 
    font-family: helvetica, arial, sans-serif;
    font-size: 22px;
    font-weight: 200;
    padding: 10px; /* TRouBLe */
}

header a {
    color: #aaaaaa;
    margin-right: 20px;
    text-decoration: none;
    
}

header a:link {}
header a:visited {}

header a:hover {
    color: #ffffff;
}
header a:active {
    text-decoration: underline;
}
header a:focus {}

article {
    font-family: helvetica, arial, sans-serif;
    clear: both;
    padding: 0 10px 0 10px;
}

article h1 {
    font-size: 30px;
    line-height: 44px;
    margin-top: 10px;
}
    

aside {
    background-color: #000000;
    float: left;
    margin: 0 0 10px 5%;
    width: 100%;
    
}

article h2 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 4px;
}

footer {
    Clear: right;
    font-size: 12px;
    padding: 0 10px 0 10px;
}