* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 16px;
}



header {
    font-family: 'Lobster Two', cursive;
    font-weight: 100;
    background-color: #0F7362;
    color: #ffffff;
    height: 100px;
}

header nav {
    float: left;
    margin-top: 40px;
    width: 45%;
    margin-left: 10px;
}

header h1 {
    float: left; 
    width: 51%;
    font-family: font-family: 'Lobster Two', cursive;
    font-size: 38px;
    font-weight: 500;
    padding-left: 3%;
    padding-top: 35px;/* TRouBLe */
}

header a {
    color: #ffffff;
    margin-right: 15px;
    text-decoration: none;
    
}

header a:link {}
header a:visited {}

header a:hover {
    color: #ffffff;
    text-decoration: underline;
}

header a:active {
    text-decoration: underline;
}
header a:focus {}

article {
    font-family: font-family: 'Raleway', sans-serif;
    clear: both;
    padding: 15px;
}

    
div {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10px;
}

aside {
    width: 33%;
    margin-top: 10px;
    margin-left: 33%;
    margin-right: 33%;
}

p.about {
    margin-top: 5px;
}

div#img {
    float: left;
    margin-top: 0px;
}

div#wufoo-zj8w5of0gbx5to {
    float: center;
}

ul.portfolio {
    list-style-type: disc;
}

h3 {
    margin-top: 30px;
}

li#port {
    list-style-type: disc;
    display: list-item;
    margin-bottom: 5px;
}


footer {
    clear:both;
    height: 100px;
    font-size: 12px;
    padding: 25px 10px 0 10px;
    background-color: #0F7362;
    color: #ffffff;
}

footer p {
    float: right;
    margin-top: 15px;
    padding-right: 10px;
}

ul.social {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}

li {
    display: inline;
}

iframe {
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 600px) {
    header {
        width: 100%;
        height: 150px;
    }
    
    header h1 {
        width: 100%;
        padding-left: 5%;
        padding-right: 3%;
    }
        
    header nav {
        width: 100%;
        height: 30px;
        background-color: #0F7362;
        padding-left: 12%;
    }
    
    article {
        padding: 5%;
    }
    
        }
        
            
        }
    
    
}
